@model Core.Models.Users

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить Пользователя</title>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Добавить нового Пользователя</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManageIngredients">Manage Ingredients</a>
        <a href="/Admin/ManageUsers">Manage Users</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
    </nav>
</header>

<main>
    <form action="/Admin/AddUser" method="post">
        <div>
            <label for="FirstName">Имя</label>
            @Html.TextBoxFor(m => m.FirstName, new { @required = "required" })
        </div>
        <div>
            <label for="LastName">Фамилия:</label>
            @Html.TextAreaFor(m => m.LastName, new { @required = "required" })
        </div>
        <div>
            <label for="Email">Почта:</label>
            @Html.TextBoxFor(m => m.Email, new { @required = "required" })
        </div>
        <div>
            <label for="Role">Роль:</label>
            @Html.TextBoxFor(m => m.Role, new { @required = "required" })
        </div>
        <div>
            <label for="Password">Пароль:</label>
            @Html.TextBoxFor(m => m.Password, new { @required = "required" })
        </div>
        <div>
            <label for="PhoneNumber">Должность:</label>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @required = "required" })
        </div>
        
        <button type="submit" class="btn">Добавить Пользователя</button>
    </form>

</main>

<footer>
</footer>

</body>
</html>