@model IEnumerable<Core.Models.Reviews>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Review</title>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Manage Review</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzaAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <a href="/Admin/AddReview" class="btn">Добавить новый отзыв</a>
    <div class="pizza-cards-container">
        @if (Model != null && Model.Any())
        {
            foreach (var review in Model)
            {
                <div class="pizza-card">
                    <p><strong>userid</strong> @review.UserId</p>
                    <p><strong>OrderId</strong> @review.OrderId</p>
                    <p><strong>Рейтинг</strong> @review.Rating</p>
                    <p><strong>Отзыв</strong> @review.Comment</p>
                    <p><strong>Дата отзыва</strong> @review.ReviewDate</p>
                    <div class="pizza-actions">
                        <a href="/Admin/EditReview?pizzaId=@review.PizzaId&userId=@review.UserId&orderId=@review.OrderId" class="btn">Edit</a>
                        <form action="/Admin/DeleteReview?pizzaId=@review.PizzaId&userId=@review.UserId&orderId=@review.OrderId" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Отзывы не найдены</p>
        }
    </div>
</main>

<footer>
    <p>&copy; 2024 Pizza World Admin Panel</p>
</footer>

</body>
</html>