@model Core.Dto.Order.OrderDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Add New Order</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzasAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <form action="/Admin/AddOrder" method="post">
        <div>
            <label for="UserId">UserId:</label>
            @Html.TextBoxFor(m => m.UserId, new { @required = "required" })
        </div>
        <div>
            <label for="StaffId">StaffId:</label>
            @Html.TextAreaFor(m => m.StaffId, new { @required = "required" })
        </div>
        <div>
            <label for="Status">Status:</label>
            @Html.TextBoxFor(m => m.Status, new { @required = "required" })
        </div>
        <div>
            <label for="Address">Address:</label>
            @Html.TextBoxFor(m => m.Address, new { @required = "required" })
        </div>
        <div>
            <label for="PaymentMethod">PaymentMethod:</label>
            @Html.TextBoxFor(m => m.PaymentMethod, new { @required = "required" })
        </div>
        <button type="submit" class="btn">Add Pizza</button>
    </form>

</main>

<footer>
</footer>

</body>
</html>