@model IEnumerable<Core.Models.Orders>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Orders</title>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Manage Orders</h1>
    <nav class="admin-menu">
        <a href="/Admin/ManagePizzeria">Manage Pizzerias</a>
        <a href="/Admin/ManagePizzas">Manage Pizzas</a>
        <a href="/Admin/ManagePizzasAvailable">Manage PizzasAvailable</a>
        <a href="/Admin/ManageStaffs">Manage Staffs</a>
        <a href="/Admin/ManageReview">Manage Reviews</a>
        <a href="/Admin/ManageOrders">Manage Orders</a>
        <a href="/Admin/ManageOrderItems">Manage OrderItems</a>
        <a href="/Admin/ManageUser">Manage Users</a>
    </nav>
</header>

<main>
    <a href="/Admin/AddOrder" class="btn">Add New Order</a>
    <div class="pizza-cards-container">
        @if (Model != null && Model.Any())
        {
        foreach (var order in Model)
        {
        <div class="pizza-card">
            <h3>@order.OrderId</h3>
            <p><strong>Пользователь:</strong> @order.UserId.</p>
            <p><strong>Курьер:</strong> @order.StaffId</p>
            <p><strong>Статус:</strong> @order.Status</p>
            <p><strong>Адрес:</strong> @order.Address</p>
            <p><strong>Тип оплаты:</strong> @order.PaymentMethod</p>
            <p><strong>Дата:</strong> @order.Date</p>
            <div class="pizza-actions">
                <a href="/Admin/EditOrder?orderId=@order.OrderId" class="btn">Edit</a>
                <form action="/Admin/DeleteOrder?orderId=@order.OrderId" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </div>
        </div>
        }
        }
        else
        {
        <p>No orders found.</p>
        }
    </div>
</main>

<footer>
</footer>

</body>
</html>